* {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER-START */
.landing-page-image {
  background-image: url(images/engine.png);
  height: 130vh;
  width: 100%;
  background-size: cover;
  position: relative;
}
header {
  display: inline-block;
  width: 100%;
  background-color: white;
  opacity: 90%;
  position: relative;
}
nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 15px 25px;
}
nav ul li a {
  text-decoration: none;
  color: #3f3f3f;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
  color: black;
  padding-bottom: 8px;
  border-bottom: 3px solid red;
}
nav ul li a.active {
  color: black;
  padding-bottom: 8px;
  border-bottom: 3px solid red;
}
.toggle-btn {
  visibility: hidden;
  float: right;
  position: absolute;
  right: 1rem;
  font-size: 38px;
  top: 12px;
  cursor: pointer;
}
.landing-page {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 11em;
}
#logo {
  width: 46rem;
}
.landing-page-text {
  color: white;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
  margin-top: 1em;
}
.buttons {
  text-align: center;
  justify-content: center;
  padding: 6em;
  display: flex;
}
.contact-us {
  background-color: #0e0d09;
  color: white;
  padding: 9px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 0px 3rem;
  z-index: 50;
}
.contact-us:hover {
  color: black;
  background-color: white;
}
.our-stories {
  background-color: #0e0d09;
  color: white;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 3rem;
  border: none;
  z-index: 50;
}
.our-stories:hover {
  color: black;
  background-color: white;
}
.social-icons {
  position: absolute;
  right: 5rem;
  top: 14rem;
  font-size: 24px;
  cursor: pointer;
}
.fa-facebook-f {
  color: black;
  background-color: white;
  padding: 5px 9px;
  border-radius: 100%;
}
.fab:hover {
  color: white;
  background-color: black;
}
.fa-instagram {
  color: black;
  background-color: white;
  padding: 5px 6px;
  border-radius: 100%;
  margin-top: 1rem;
}
/* HEADER-END */

/* SINCE-1978-SECTION-START*/
.since-bg-img {
  background-image: url(images/White-image.png);
  background-size: cover;
  width: 100%;
  height: 206vh;
  position: absolute;
  top: 36rem;
  z-index: 1;
}
.since-data {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 21rem;
  width: 1200px;
  margin: auto auto;
  z-index: 3;
}
span {
  color: red;
}
h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}
.since-detail {
  text-align: left;
  line-height: 28px;
  padding: 1rem;
}
.since-1978 {
  display: grid;
  font-size: 18px;
}
.paragraph {
  display: inline-flex;
  margin: 0% 11rem;
}
.paragraph-2 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.paragraph-2 .buttons {
  padding-top: 0px;
}
.paragraph2 {
  padding: 0px 11rem;
}
.paragraph-2 {
  margin: 20px 25px;
  font-size: 12px;
}
.team-paragraph {
  line-height: 30px;
  text-align: left;
  margin-top: 1rem;
  font-size: 16px;
}
#bold-para {
  color: #3f3f3f;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem 13rem;
  font-size: 18px;
  line-height: 30px;
}
.paragraph-2 .buttons {
  margin: 0%;
  display: flex;
}
/* SINCE-1978-SECTION-END*/

/* SUPPLIERS-SECTION */
.suppliers {
  background-image: url(images/dark-road-bg.png);
  background-size: cover;
  width: 100%;
  height: 169vh;
  position: relative;
  top: 50rem;
  z-index: 0;
}
.suppliers-body {
  width: 1200px;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 15;
  position: relative;
}

.suppliers-body h1 {
  color: white;
  margin-bottom: 1.5rem;
}
#suppliers-logo {
  width: 100%;
  height: auto;
}
/* SUPPLIERS-SECTION-END*/

/* FOOTER-SECTION-START */
.footer {
  background-image: url(images/footer-background.png);
  background-size: cover;
  width: 100%;
  height: 112vh;
  position: relative;
  z-index: 1;
}
.footer-body {
  position: relative;
  top: 18rem;
}
.footer-links {
  text-align: center;
}
.columns {
  display: inline-flex;
  align-items: baseline;
}
.manager {
  margin-top: 26px;
  line-height: 24px;
}
.address {
  margin-top: 1rem;
  line-height: 20px;
}
h4 {
  margin-top: 35px;
}
.menlyn {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
}
.monday {
  margin-left: 26px;
  line-height: 24px;
}
.col-1 {
  margin: 2rem 8rem;
  text-align: left;
}
.col-2 {
  margin: 2rem 8rem;
  text-align: left;
}

#footer-p {
  text-align: center;
  background-color: #ebebeb;
  padding: 20px;
  margin-top: 2rem;
}
/* FOOTER-SECTION-END */

/* Media Queries */

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .toggle-btn {
    display: none;
  }
  .landing-page {
    margin-top: 6em;
  }
  #logo {
    width: 60%;
  }
  .landing-page-text {
    font-size: 18px;
    line-height: 24px;
  }
  .landing-page-image {
    height: 53vh;
  }
  .social-icons {
    font-size: 14px;
    top: 9rem;
    right: 3rem;
  }
  .buttons {
    padding: 2em;
  }
  .our-stories {
    padding: 6px 12px;
    font-size: 12px;
    margin: 0px 2rem;
  }
  .contact-us {
    padding: 6px 12px;
    font-size: 12px;
    margin: 0px 2rem;
  }
  .since-bg-img {
    height: 120.5vh;
    top: 15.1rem;
    z-index: -1;
  }
  .since-data {
    top: 13.7rem;
    width: 100%;
  }
  .since-data h1 {
    font-size: 28px;
  }
  .paragraph {
    margin: 0% 7rem;
  }
  .since-detail {
    font-size: 14px;
    line-height: 20px;
    padding: 0rem 1rem;
  }
  .paragraph-2 {
    margin: 10px 0px;
  }
  .paragraph-2 .buttons {
    padding: 1.5em;
  }
  .paragraph2 {
    padding: 0px 8rem;
  }
  .team-paragraph {
    font-size: 14px;
    margin-top: 15px;
    line-height: 20px;
  }
  #bold-para {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 8rem;
    margin-top: 15px;
  }
  .suppliers {
    height: 75vh;
    top: 28.5rem;
    z-index: 2;
  }
  .suppliers-body {
    width: 100%;
    bottom: 2rem;
  }
  .suppliers-body h1 {
    font-size: 42px;
    margin-top: 5px;
  }
  #suppliers-logo {
    width: 90%;
  }
  .footer {
    height: 63vh;
    bottom: 7rem;
  }
  .footer-header h1 {
    font-size: 34px;
  }
  .footer-body {
    background-color: #ebebeb;
    top: 13.5rem;
  }
  .col-1 {
    margin: 2rem 2rem;
  }
  .col-2 {
    margin: 2rem 2rem;
  }
  .manager {
    line-height: 20px;
  }
  .monday {
    line-height: 20px;
  }
  #footer-p {
    margin: 0%;
    padding: 15px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header {
    background-color: white;
    opacity: 90%;
    height: 57px;
  }
  nav {
    display: none;
    width: 100%;
    background-color: white;
    padding: 10px;
  }
  nav ul {
    display: block;
    text-align: left;
    padding: 0%;
  }
  nav ul li {
    max-width: 100%;
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
  }
  nav ul li a:hover {
    border-bottom: 1px solid #ff0000;
  }
  nav.show {
    display: block;
    padding: 0%;
  }
  .toggle-btn {
    visibility: visible;
  }
  .landing-page-image {
    max-height: 42vh;
    z-index: 90;
  }
  #logo {
    width: 70%;
  }
  .landing-page {
    margin-top: 3em;
  }
  .landing-page-text {
    font-size: 18px;
    line-height: 20px;
    margin-top: 1em;
  }
  .buttons {
    margin: 2em 0px;
    padding: 0%;
  }
  .contact-us {
    padding: 8px 15px;
    font-size: 14px;
  }
  .our-stories {
    padding: 8px 15px;
    margin: 0%;
    font-size: 14px;
  }
  .social-icons {
    font-size: 16px;
    top: 10rem;
    right: 2.5rem;
  }
  .since-bg-img {
    height: 77vh;
    top: 11.5rem;
  }
  .since-data {
    top: 11rem;
    width: 100%;
  }
  .since-data h1 {
    font-size: 26px;
  }
  .since-detail {
    font-size: 14px;
    line-height: 19px;
    margin: 0%;
    padding: 7px 20px;
  }
  .paragraph {
    margin: 0% 4.5rem;
    display: block;
  }
  .paragraph-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0% 4.5rem;
  }
  .paragraph-2 h1 {
    margin-top: 0px;
  }
  .paragraph2 {
    margin: 0%;
    padding: 0% 1rem;
  }
  .team-paragraph {
    line-height: 19px;
    margin-top: 10px;
    font-size: 14px;
  }
  #bold-para {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 19px;
    padding: 0% 1rem;
  }
  .suppliers {
    height: 79vh;
    top: 21rem;
  }
  .suppliers-body {
    bottom: 5rem;
    width: 100%;
  }
  .suppliers-body h1 {
    font-size: 26px;
  }
  #suppliers-logo {
    width: 95%;
    height: auto;
  }
  .footer {
    height: 23vh;
    top: 71.7rem;
    position: absolute;
    z-index: -1;
  }
  .footer-body {
    top: 10rem;
    background-color: #ebebeb;
  }
  .footer-header h1 {
    font-size: 26px;
  }

  .col-1 {
    margin: 1rem 6rem;
  }
  .col-1 h2 {
    margin-left: 63px;
  }
  .col-2 {
    margin: 1.5rem 6rem;
  }
  .col-2 h2 {
    margin-left: 63px;
  }
  .columns {
    display: block;
  }
  .menlyn {
    margin-top: 5px;
  }
  .manager {
    margin: 5px 4rem;
    line-height: 22px;
  }
  .manager h4 {
    margin-top: 28px;
  }
  .monday {
    margin: 5px 4rem;
    line-height: 22px;
  }
  #footer-p {
    margin: 0%;
    padding: 15px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  header {
    background-color: white;
    opacity: 90%;
    height: 57px;
  }
  nav {
    display: none;
    width: 100%;
    background-color: white;
    padding: 10px;
  }
  nav ul {
    display: block;
    text-align: left;
    padding: 0%;
  }
  nav ul li {
    max-width: 100%;
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
  }
  nav ul li a:hover {
    border-bottom: 1px solid #ff0000;
  }
  nav.show {
    display: block;
    padding: 0%;
  }
  .toggle-btn {
    visibility: visible;
  }
  .landing-page-image {
    max-height: 31.5vh;
    z-index: 90;
  }
  #logo {
    width: 60%;
  }
  .landing-page {
    margin-top: 2em;
  }
  .landing-page-text {
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
  }
  .buttons {
    margin: 1em 0px;
    padding: 0%;
  }
  .contact-us {
    padding: 5px 10px;
    font-size: 12px;
  }
  .our-stories {
    padding: 5px 10px;
    margin: 0%;
    font-size: 12px;
  }
  .social-icons {
    font-size: 11px;
    top: 8rem;
    right: 2rem;
  }
  .since-bg-img {
    height: 100vh;
    top: 6.5rem;
    background-position: center;
  }
  .since-data {
    top: 11.3rem;
    width: 100%;
  }
  .since-data h1 {
    font-size: 26px;
  }
  .since-detail {
    font-size: 12px;
    line-height: 18px;
    margin: 0%;
    padding: 7px 20px;
  }
  .paragraph {
    margin: 0% 3rem;
    display: block;
  }
  .paragraph-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0% 3rem;
  }
  .paragraph-2 h1 {
    margin-top: 0px;
  }
  .paragraph2 {
    margin: 0%;
    padding: 0% 1rem;
  }
  .team-paragraph {
    line-height: 18px;
    margin-top: 10px;
    font-size: 12px;
  }
  #bold-para {
    margin: 10px 0px;
    font-size: 12px;
    line-height: 16px;
    padding: 0% 10px;
  }
  #bold-para + .buttons {
    margin-top: 1em;
  }
  .suppliers {
    height: 46vh;
    top: 31.5rem;
    z-index: 1;
  }
  .suppliers-body {
    top: 13.2rem;
    width: 100%;
  }
  .suppliers-body h1 {
    font-size: 26px;
  }
  #suppliers-logo {
    width: 95%;
    height: auto;
  }
  .footer {
    height: 23vh;
    top: 63.5rem;
    position: absolute;
    z-index: -1;
  }
  .footer-body {
    top: 7.5rem;
    background-color: #ebebeb;
  }
  .footer-header h1 {
    font-size: 26px;
  }
  .col-1 {
    margin: 10px;
  }
  .col-1 h2 {
    margin-left: 63px;
  }
  .col-2 {
    margin: 15px 5px;
  }
  .col-2 h2 {
    margin-left: 63px;
  }
  .columns {
    display: block;
  }
  .menlyn {
    margin-top: 3px;
  }
  .manager {
    margin: 5px 4rem;
    line-height: 22px;
  }
  .manager h4 {
    margin-top: 28px;
  }
  .monday {
    margin: 5px 4rem;
    line-height: 22px;
  }
  #footer-p {
    margin: 0%;
    padding: 10px;
    font-size: 12px;
  }
}
